<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.23.0" newVersion="1.1.23.0" />
      </dependentAssembly>
      
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.3.0" newVersion="1.14.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Device.I2c" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.3" newVersion="1.0.3.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.Logging" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.63.0" newVersion="1.1.63.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.Runtime.Events" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.6.0" newVersion="1.11.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Device.Gpio" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.22.60169" newVersion="1.1.22.60169" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Streams" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.38.0" newVersion="1.1.38.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.System.Text" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.37.0" newVersion="1.2.37.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>