<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.3.0" newVersion="1.14.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.23.0" newVersion="1.1.23.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.Logging" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.47.7077" newVersion="1.1.47.7077" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Streams" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.27.27650" newVersion="1.1.27.27650" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.System.Text" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.37.0" newVersion="1.2.37.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.Runtime.Events" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.1.42088" newVersion="1.11.1.42088" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nanoFramework.TestFramework" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.59.0" newVersion="2.1.59.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Math" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.18.41298" newVersion="1.5.18.41298" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Device.Gpio" publicKeyToken="c07d481e9758c731" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.22.60169" newVersion="1.1.22.60169" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
